@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

:root {
    --cyan: hsl(179, 62%, 43%);
    --cyan-dark: hsl(179, 47%, 52%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Karla', sans-serif;
    font-size:  1rem;
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

/* card section */
 .container {
    padding: 5rem 2rem;
    max-width: 390px;
    overflow: hidden;
}
.card-1 {
    background: rgb(255, 255, 255);
    padding: 2.5rem 1.5rem;
    border-radius: .5rem .5rem 0 0;
   -webkit-box-shadow: 0px 0px 11px 1px rgba(107,163,162,0.4); 
   box-shadow: 0px 0px 11px 1px rgba(107,163,162,0.4);
}
.card-1 h3 {
    color: var(--cyan);
    margin-bottom: 1.1rem;
}
.card-1 h4 {
    color: var(--bright-yellow);
    margin-bottom: 1.1rem;
}
.card-1 p {
    line-height: 1.6rem;
    color: var(--grayish-blue);
    font-size: .88rem;
}
.card-2 {
    background: var(--cyan);
    color: white;
    padding: 2.5rem 1.3rem;
    -webkit-box-shadow: 0px 0px 11px 1px rgba(107,163,162,0.4); 
    box-shadow: 0px 0px 11px 1px rgba(175, 204, 204, 0.082);
}
.card-2 h1 {
    font-size: 1.8rem;
    margin-top: 1rem;
}
.card-2 span {
   font-size: 1rem;
   font-weight: 400;
   color: hsl(181, 66%, 69%);
}
.card-2 h4 {
    color: var(--light-gray);
    margin-top: .2rem;
}
.card-2 button {
    font-weight: 700;
    color: white;
    font-size: .94rem;
    -webkit-box-shadow: 0px 0px 11px 1px hsla(180, 14%, 21%, 0.349);
    box-shadow: 0px 0px 11px 1px hsla(180, 14%, 21%, 0.349);
}
.card-2 .btn button {
    padding: 1rem 6.6rem;
    margin-top: 2rem;
    border: 1px solid var(--cyan);
    background: var(--bright-yellow);
    border-radius: .4rem;
    cursor: pointer;
    transition: all .3s ease-in;
}
.card-2 .btn button:hover{
    background: transparent;
    color: white;
}

article {
    padding: 2.5rem 1.5rem;
    background: var(--cyan-dark);
    color: var(--light-gray);
    border-radius: 0 0 .5rem .5rem;
    -webkit-box-shadow: 0px 0px 11px 1px rgba(107,163,162,0.4); 
    box-shadow: 0px 0px 11px 1px rgba(107,163,162,0.4);
}
article h3 {
    margin-bottom: 1.3rem;
}
article p {
    font-size: .9rem;
    line-height: 1.3rem;
}
/* end card  scrtion*/

/* footer section */
.attribution { 
    font-size: 11px;
    text-align: center; 
}
.attribution a { 
     color: hsl(228, 45%, 44%);
 }  
/* end footer section */

/* media query */
@media only screen and (min-width: 768px) {
    body {     
    height: 100vh;
    }
    .container {
    display: grid;
    grid-template-columns: 1fr  1fr; 
    grid-template-rows: auto auto;     
    max-width: 720px; 
    }
    .card-1 {
    grid-column: 1/span 2;
  }
  .card-2 {
   border-radius: 0 0 0 .5rem; 
  }
  article {
    border-radius: 0 0 .5rem 0;
}
}
/* end media query */